.creations {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3rem;

    h2 {
      width: 100%;
    }
  }

  &__button {
    width: 10rem;
    height: fit-content;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-bottom: 2.125rem;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 7.5rem;

    @include breakpoint-up(large) {
      height: 28.125rem;
    }

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.75);
      opacity: 0;
      transition: opacity 300ms ease-out;
    }

    h3 {
      position: absolute;
      left: 1.5rem;
      bottom: 1.5rem;
      width: 8rem;

      @include breakpoint-up(large) {
        left: 2.5rem;
        bottom: 2.5rem;
        width: 12rem;
      }
    }

    &:hover {
      cursor: pointer;

      &::before {
        opacity: 1;
      }

      h3 {
        color: $black;
      }
    }
  }
}

.deep-earth {
  background: url("/images/mobile/image-deep-earth.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-deep-earth.jpg");
  }
}

.night-arcade {
  background: url("/images/mobile/image-night-arcade.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-night-arcade.jpg");
  }
}

.soccer-team {
  background: url("/images/mobile/image-soccer-team.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-soccer-team.jpg");
  }
}

.the-grid {
  background: url("/images/mobile/image-grid.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-grid.jpg");
  }
}

.from-up-above {
  background: url("/images/mobile/image-from-above.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-from-above.jpg");
  }
}

.pocket-borealis {
  background: url("/images/mobile/image-pocket-borealis.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-pocket-borealis.jpg");
  }
}

.curiosity {
  background: url("/images/mobile/image-curiosity.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-curiosity.jpg");
  }
}

.fisheye {
  background: url("/images/mobile/image-fisheye.jpg");

  @include breakpoint-up(large) {
    background: linear-gradient(to bottom, transparent, rgba($black, 0.7)), url("/images/desktop/image-fisheye.jpg");
  }
}
