.footer {
  display: grid;
  gap: 1rem;
  grid-template-areas:
          "logo"
          "links"
          "social-media"
          "copyright";
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: $black;
  color: $white;

  @include breakpoint-up(large) {
    grid-template-areas:
          "logo social-media"
          "links copyright";
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    grid-area: logo;
    padding-bottom: 1rem;

    @include breakpoint-up(large) {
      padding-bottom: 0;
    }
  }

  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2.5rem;

    @include breakpoint-up(large) {
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  &__social-media {
    grid-area: social-media;
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include breakpoint-up(large) {
      justify-content: flex-end;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__copyright {
    grid-area: copyright;
    padding-bottom: 1rem;

    @include breakpoint-up(large) {
      padding-bottom: 0;
      text-align: right;
    }
  }

}