.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40.625rem;
  background-image: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  @include breakpoint-up(large) {
    background-image: url("/images/desktop/image-hero.jpg");
  }

  /*
   Hamburger Open Style
   */
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  nav {
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    z-index: 2;
    display:flex;
    align-items: center;

    img {
      width: 9rem;
    }
  }

  /*
  Mobile Menu
   */
  &__toggle { // Animated Button
    z-index: 2;

    > span {
      display: block;
      width: 1.5rem;
      height: 0.125rem;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 0.0625rem 0.0625rem;

      &:not(:last-child){
        margin-bottom: 0.375rem;
      }
    }
  }

  &__menu { // Menu
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black;
    padding: 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      padding: 0.5rem;
      display: block;
      text-transform: uppercase;
      font-size: $font-l;

      &:hover {
        font-weight: $font-weight-m;
      }
    }
  }

  /*
  Desktop Menu
   */
  &__links {
    a {
      &:not(:last-child){
        margin-right: 2.625rem;
      }
    }
  }

  /*
  Title
   */
  &__title {
    max-width: 40.5rem;
    padding: 1.5rem;
    border: 2px solid $white;

    @include breakpoint-up(large) {
      padding: 2.5rem;
    }
  }
}