// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);



// Font Sizes
$font-h1-l: 4rem; // 64px
$font-h1-s: 2.5rem; // 40px
$font-h2-l: 3rem; // 48px
$font-h2-s: 2rem; // 32px
$font-l: 1.5rem; // 24px
$font-m: 1.125rem; // 18px
$font-s: 0.9375rem; // 15px

// Font Weights
$font-weight-m: 400;
$font-weight-s: 300;
